/******************************
********** general ************
******************************/
@font-face {
    font-family: 'Calibri';
    src: url("../source/fonts/Calibri.woff") format("woff"), url("../source/fonts/Calibri.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Candara';
    src: url("../source/fonts/Candara.woff") format("woff"), url("../source/fonts/Candara.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gecko';
    src: url("../source/fonts/Gecko_PersonalUseOnly.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Practicum';
    src: url("../source/fonts/Practicum.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.4;
    color: #000000;
    font-family: 'Calibri', sans-serif;
}

body {
    background-color: #fefefe;
    width: 100%;
}

h1 {
    font-size: 1.6em;
    font-family: 'Candara', sans-serif;
    font-weight: 100;
}

a, button {
    cursor: pointer;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-appearance: none;
}

a {
    text-decoration: none;
}

a:active, a:focus {
    outline: none;
}

button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}

input, input:hover, input:active {
    outline: none;
}

button {
    text-transform: lowercase;
    height: 35px;
    line-height: 33px;
    border: 1px solid transparent;
}

.button-empty {
    background: transparent;
    color: #ffffff;
    height: 37px;
    line-height: 35px;
    border: 1px solid #ffffff;
}
.button-empty:hover {
    color: #459c97;
    background: #ffffff;
    border: 1px solid #ffffff;
}

.button-cyan {
    background: #459c97;
    color: #ffffff;
    border: 1px solid #459c97;
}
.button-cyan:hover {
    color: #459c97;
    background: #ffffff;
    border: 1px solid #459c97;
}

button:active {
    padding-top: 2px;
}

ul li, ol li {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}

h2 {
    font-size: 1.571428571428571em;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 20px;
}

.image-wrap {
    display: block;
    position: relative;
    overflow: hidden;
}
img {
    display: block;
    width: 100%;
    margin: 0;
}
.image-wrap img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 125px;
}

.wrapper-inner {
    display: block;
    width: 100%;
    max-width: 1200px;
    padding: 30px 15px;
    position: relative;
    margin: 0 auto;
}

.wrapper-inner:after {
    content: '';
    display: block;
    clear: both;
}
header[role='banner'] {
    display: block;
    border-bottom: 1px solid #c6c6c6;
}

/******************************
********* breadcrumbs *********
******************************/
.breadcrumbs .wrapper-inner {
    padding-bottom: 0;
}
.breadcrumbs ul li, .breadcrumbs ul li a {
    font-size: 16px;
    color: #4d4d4d;
}
.breadcrumbs ul li a:hover {
    text-decoration: underline;
}
.breadcrumbs ul li:after {
    content: '/';
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px 0 5px;
}
.breadcrumbs ul li:last-child {
    padding-bottom: 1px;
}
.breadcrumbs ul li:last-child:after {
    display: none;
}

/******************************
*********** header ************
******************************/

.page-main header[role='banner'] {
    border-bottom: none;
}

/* social-links */
.social-links {
    display: block;
    text-align: right;
    margin-bottom: 20px;
}
.social-links li {
    margin-right: 10px;
}
.social-links li:last-child {
    margin-right: 0;
}
.social-links li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid transparent;
    color: #ffffff;
    font-size: 24px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.social-links li a i {
    color: inherit;
}

.social-links li:nth-child(1) a {
    background: #415695;
}
.social-links li:nth-child(1) a:hover {
    background: #ffffff;
    border: 1px solid #415695;
    color: #415695;
}
.social-links li:nth-child(2) a {
    background: #5077a4;
}
.social-links li:nth-child(2) a:hover {
    background: #ffffff;
    border: 1px solid #5077a4;
    color: #5077a4;
}
.social-links li:nth-child(3) a {
    background: #6caddf;
}
.social-links li:nth-child(3) a:hover {
    background: #ffffff;
    border: 1px solid #6caddf;
    color: #6caddf;
}
.social-links li:nth-child(4) a {
    background: #764e42;
}
.social-links li:nth-child(4) a:hover {
    background: #ffffff;
    border: 1px solid #764e42;
    color: #764e42;
}
.social-links li a:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

/* end of social-links */

.logo {
    display: block;
    float: left;
    font-size: 48px;
    color: #395661;
    font-weight: 600;
    font-family: 'Practicum', sans-serif;
    line-height: 32px;
    margin-right: 8.5%;
    letter-spacing: 3px;
}
.logo img {
    display: inline-block;
    vertical-align: bottom;
    width: 40px;
    margin-right: 15px;
    margin-bottom: -10px;
}

.logo:hover, footer[role='contentinfo'] .logo:hover {
    color: #459c97;
}

.burger {
    display: none;
}
nav ul {
    display: flex;
    justify-content: space-between;
}
nav ul li a {
    display: block;
    line-height: 60px;
    font-family: 'Candara', sans-serif;
    font-size: 1.8em;
    position: relative;
}
nav ul li a:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    left: 51%;
    right: 51%;
    bottom: 0;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    background: #459c97;
}
nav ul li a:hover:after {
    left: -5px;
    right: -5px;
}

/******************************
*********** footer ************
******************************/

footer[role='contentinfo'] {
    display: block;
    background: #4d4d4d;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
footer[role='contentinfo'] .logo {
    color: #ffffff;
}
.copyrights {
    padding-top: 10px;
    color: #ffffff;
}
.logo-kip {
    display: block;
    float: right;
    width: 140px;
    opacity: 0.8;
}
.logo-kip:hover {
    opacity: 1;
}
/******************************
********* main page ***********
******************************/

.banner-physics-winners {
    width: 61.5%;
    height: 430px;
    float: left;
    background: #d2b76f url('../source/images/image-boy.png') no-repeat right bottom;
    background-size: auto 90%;
}
.banner-physics-winners h2 {
    display: inline-block;
    font-family: 'Candara', sans-serif;
    text-transform: uppercase;
    font-size: 1.6em;
    color: #ffffff;
    padding: 1.5% 2.5% 1.5% 5%;
    border: 2px solid #ffffff;
    border-left: none;
    margin-top: 14%;
}
.banner-physics-winners a {
    position: absolute;
    left: -100%;
    top: 46%;
    color: #ffffff;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    font-size: 1.2em;
}
.banner-physics-winners:hover a {
    left: 4.5%;
}
.banner-physics-winners a:hover {
    text-decoration: underline;
}

.form-registration {
    display: block;
    width: 38.5%;
    height: 430px;
    background: #459c97;
    float: left;
    padding: 50px 60px 0 60px;
}
.form-registration:after {
    content: '';
    display: block;
    clear: both;
}

.form-registration h2 {
    color: #ffffff;
}

label {
    display: block;
    float: left;
    width: 100%;
    height: 37px;
    margin-bottom: 15px;
}
.form-registration .label-password, .form-registration .label-password + label {
    width: 48%;
    margin-right: 4%;
}
.form-registration .label-password + label {
    margin-right: 0;
}
.form-registration .label-captcha {
    width: calc(96% - 83px);
    margin-right: 4%;
}
.captcha {
    width: 83px;
    float: left;
}
input {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px dotted #ffffff;
    background: transparent;
    color: #ffffff;
    padding: 0 20px;
}

.form-registration button {
    width: 48%;
    float: left;
}
.form-registration .sign-in {
    margin-right: 4%;
}

.form-registration button[type='submit'] {
    width: 100%;
    background: #ffffff;
    color: #459c97;
    margin-bottom: 15px;
}
.form-registration button[type='submit']:hover {
    border: 1px solid #ffffff;
    background: #459c97;
    color: #ffffff;
}

input::-webkit-input-placeholder {color: #ffffff;}
input::-moz-placeholder {color: #ffffff;}
input:-moz-placeholder {color: #ffffff;}
input:-ms-input-placeholder {color: #ffffff;}

input:focus::-webkit-input-placeholder {color: transparent;}
input:focus::-moz-placeholder {color: transparent;}
input:focus:-moz-placeholder {color: transparent;}
input:focus:-ms-input-placeholder {color: transparent;}

.disciplines li {
    display: block;
    float: left;
    width: 23.5%;
    margin-right: 2%;
}
.disciplines li:last-child {
    margin-right: 0;
}

.disciplines li .image-wrap {
    padding-top: 73%;
}
.space-hover {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: -100%;
    background: rgba(255, 255, 255, 0.7);
}

.space-hover button {
    display: block;
    width: 165px;
    height: 35px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #4b97be;
    color: #ffffff;
    border: 1px solid #4b97be;
}
.space-hover button:hover {
    background: #ffffff;
    color: #4b97be;
    border: 1px solid #4b97be;
}
.disciplines li:nth-child(2) button {
    background: #ff9933;
    border: 1px solid #ff9933;
}
.disciplines li:nth-child(2) button:hover {
    background: #ffffff;
    color: #ff9933;
    border: 1px solid #ff9933;
}
.disciplines li:nth-child(3) button {
    background: #006633;
    border: 1px solid #006633;
}
.disciplines li:nth-child(3) button:hover {
    background: #ffffff;
    color: #006633;
    border: 1px solid #006633;
}
.disciplines li:nth-child(4) button {
    background: #990000;
    border: 1px solid #990000;
}
.disciplines li:nth-child(4) button:hover {
    background: #ffffff;
    color: #990000;
    border: 1px solid #990000;
}


.disciplines li .quiz {
    margin-top: 15px;
    position: relative;
    padding: 5px 10px 10px 65px;
}
.disciplines li .quiz:before {
    content: '';
    display: block;
    width: 55px;
    height: 55px;
    background: #4b97be;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.disciplines li:nth-child(2) .quiz:before {
    background: #ff9933;
}
.disciplines li:nth-child(3) .quiz:before {
    background: #006633;
}
.disciplines li:nth-child(4) .quiz:before {
    background: #990000;
}
.disciplines li .quiz:after {
    content: '';
    display: block;
    height: 2px;
    background: #ededed;
    position: absolute;
    left: 65px;
    right: 0;
    top: 27px;
}
.disciplines li .discipline-name {
    font-family: 'Candara', sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 8px;
}
.disciplines li .quiz-name {
    font-family: 'Candara', sans-serif;
}



/******************************
****** question page **********
******************************/

.indicator {
    width: calc(100% - 850px);
    float: left;
    padding-top: 30px;
}

/* vertical linear indicator */
.il-vertical {
    position: relative;
    padding-left: 50px;
    margin-left: 60px;
}
.il-vertical .text {
    position: absolute;
    left: -10px;
    bottom: 40px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.il-vertical ul {
    counter-reset: li;
}
.il-vertical ul li {
    display: block;
    width: 17px;
    height: 20px;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    background: #459c97;
    position: relative;
}
.il-vertical ul li:after {
    content: counter(li);
    counter-increment: li;
    display: inline-block;
    width: 15px;
    font-size: 14px;
    line-height: 12px;
    position: absolute;
    bottom: 2px;
    left: 32px;
    text-align: right;
}
.il-vertical ul li.active {
    background: transparent;
}
.il-vertical ul li.active:after {
    color: #459c97;
}
.il-vertical ul li:first-child {
    border-top: 1px solid #d7d7d7;
}
.il-vertical ul li:last-child {
    border-bottom: 1px solid #d7d7d7;
}
.il-vertical ul li.active {

}
.il-vertical ul li.active:before {
    content: '';
    display: block;
    width: 35px;
    height: 1px;
    background: #d7d7d7;
    position: absolute;
    bottom: -1px;
    left: 14px;
}
.il-vertical ul li.empty {
    background: transparent;
}

/* horizontal linear indicator */

.il-horizontal {
    position: relative;
    padding-bottom: 30px;
}
.il-horizontal:after {
    content: '';
    display: block;
    clear: both;
}
.il-horizontal .text {
    position: absolute;
    left: 20px;
    bottom: 0;
}
.il-horizontal ul {
    counter-reset: li;
    font-size: 0;
}
.il-horizontal ul li {
    display: block;
    float: left;
    width: 20px;
    height: 17px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    background: #459c97;
    position: relative;
}
.il-horizontal ul li:after {
    content: counter(li);
    counter-increment: li;
    display: inline-block;
    width: 20px;
    font-size: 14px;
    line-height: 12px;
    position: absolute;
    top: -20px;
    left: 3px;
}
.il-horizontal ul li.active {
    background: transparent;
}
.il-horizontal ul li.active:after {
    color: #459c97;
}
.il-horizontal ul li:first-child {
    border-left: 1px solid #d7d7d7;
}
.il-horizontal ul li:last-child {
    border-right: 1px solid #d7d7d7;
}
.il-horizontal ul li.active {

}
.il-horizontal ul li.active:before {
    content: '';
    display: block;
    width: 1px;
    height: 25px;
    background: #d7d7d7;
    position: absolute;
    top: -25px;
    left: -1px;
}
.il-horizontal ul li.empty {
    background: transparent;
}


.workspace {
    width: 850px;
    float: right;
    padding: 0 50px 0 0;
}
.workspace:after {
    content: '';
    display: block;
    clear: both;
}
.workspace h1 {
    margin-bottom: 20px;
}
.question-image {
    width: 555px;
    padding-top: 382px;
    float: left;
    overflow: hidden;
    position: relative;
}
.question-image img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: auto;
    min-height: 0;
}
.question {
    width: calc(100% - 555px);
    height: 382px;
    float: left;
    border: 1px solid #e7e7e7;
    border-left: none;
    padding: 50px 25px;
    position: relative;
}
.question-number {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Candara', sans-serif;
    font-size: 19px;
    margin-bottom: 25px;
}
.question-number:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background: transparent url('../source/images/image-diamand.png') no-repeat center;
    background-size: cover;
    margin-right: 10px;
}
.question-text {
    font-size: 19px;
    line-height: 1.2;
}
.question .logo img {
    width: 20px;
    margin-bottom: 0;
}
.question .logo {
    font-size: 18px;
    position: absolute;
    left: 30px;
    bottom: 25px;
}

.form-question {
    display: block;
    width: 100%;
    margin-top: 20px;
    float: left;
}

.form-question label {
    width: 540px;
    margin-right: 15px;
    max-width: 540px;
}
.form-question input {
    border: 1px solid #e7e7e7;
    color: inherit;
}
.form-question button {
    display: block;
    width: calc(100% - 555px);
    height: 37px;
    max-width: 300px;
}

.form-question input::-webkit-input-placeholder {color: #000000;}
.form-question input::-moz-placeholder {color: #000000;}
.form-question input:-moz-placeholder {color: #000000;}
.form-question input:-ms-input-placeholder {color: #000000;}

.form-question input:focus::-webkit-input-placeholder {color: transparent;}
.form-question input:focus::-moz-placeholder {color: transparent;}
.form-question input:focus:-moz-placeholder {color: transparent;}
.form-question input:focus:-ms-input-placeholder {color: transparent;}

/******************************
******* media queries *********
******************************/

@media (max-width: 1200px) {

    .banner-physics-winners h2 {
        margin-top: 7%;
        padding-left: 2%;
    }
    .banner-physics-winners a {
        top: 170px;
    }
    .banner-physics-winners:hover a {
        left: 3%;
    }
    .il-vertical {
        padding-left: 30px;
        margin-left: 30px;
    }

}

@media (max-width: 980px) {

    .banner-physics-winners, .form-registration {
        float: none;
        width: 100%;
    }
    .form-registration {
        height: auto;
        padding: 50px;
    }
    .banner-physics-winners h2 {
        margin-top: 30px;
        padding-left: 15px;
    }
    .banner-physics-winners a, .banner-physics-winners:hover a {
        left: 30px;
        top: 16.5%;
    }
    nav ul {
        display: none;
        text-align: right;
    }
    nav ul li {
        display: block;
        padding-right: 5px;
    }
    nav ul li a:after, nav ul li a:hover:after {
        display: none;
    }

    .burger {
        display: block;
        font-size: 30px;
        margin-top: 35px;
        text-align: right;
    }

    .disciplines li {
        width: 48%;
        margin: 15px 4% 15px 0;
    }
    .disciplines li:nth-child(2n) {
        margin-right: 0;
    }

    .copyrights {
        float: left;
        width: 70%;
    }

    .wrapper {
        padding-bottom: 200px;
    }

    .indicator, .workspace {
        width: 100%;
        float: none;
    }
    .workspace {
        padding: 0;
        margin-bottom: 30px;
    }
    .round-indicator, .linear-indicator {
        display: inline-block;
        vertical-align: middle;
        margin: 20px 20px 20px 0;
    }
    .question-image {
        width: 100%;
        padding-top: 68.82882882882883%;
        float: none;
        margin: 0 auto;
    }
    .question {
        width: 100%;
        height: auto;
        border: 1px solid #e7e7e7;
        border-top: none;
        padding: 25px 25px 80px 25px;
        float: none;
        margin: 0 auto;
    }
    .question .logo {
        left: 25px;
        bottom: 10px;
    }
    .form-question {
        width: 100%;
        margin: 30px auto 0;
        float: none;
    }
    .form-question label, .form-question button {
        width: 100%;
        float: none;
    }
    .indicator {
        padding-top: 0;
    }


}

@media (max-width: 768px) {

    .banner-physics-winners {
        background-size: auto 80%;
    }

    .copyrights br {
        display: none;
    }

    .disciplines li, .disciplines li:nth-child(2n) {
        width: 100%;
        margin: 15px 0;
    }

}

@media (max-width: 480px) {

    .banner-physics-winners {
        height: 350px;
    }
    .banner-physics-winners {
        background-size: auto 70%;
    }

    .banner-physics-winners h2 {
        font-size: 1.4em;
    }
    .logo {
        font-size: 32px;
    }

    footer[role='contentinfo'] .logo,  .logo-kip {
        margin: 10px 10px 10px 0;
    }

    .logo-kip {
        float: left;
    }

    .copyrights {
        width: 100%;
    }

    .form-registration {
        padding: 15px;
    }

    .form-registration .label-password, .form-registration .label-password + label {
        width: 100%;
    }

    .wrapper {
        padding-bottom: 300px;
    }

    .social-links {
        text-align: left;
        margin-bottom: 20px;
    }

}

@media (max-width: 360px) {

    .logo img {
        width: 35px;
    }
    .logo {
        font-size: 28px;
    }
    .burger {
        margin-top: 30px;
    }

}